// Global variable overrides. Must be declared before importing Valo.
// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;
// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;
// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;
// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;
// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;
// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
@import "../valo/valo.scss";

$primary: #008ac3;
$secondary: #c6c8c9;
$sidebar-bg: #414b56;
$sidebar-fg: #9ca5af;

@mixin mytheme {
  @include valo;

  .sidebar {
    min-width: 200px;
    height: 100%;
    background: $sidebar-bg;
    color: $sidebar-fg;
    text-align: center;
  }

  .sidebar-button {
    font-size: 0.9em;
    text-align: left;
    color: $sidebar-fg;
    background: none;
    border: none;

    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:hover {
      background: #3c454f;
      color: white;
    }
  }

  .sidebar-button-selected {
    background: #505C68;
    color: deepskyblue;

    .v-icon {
      color: deepskyblue;
    }
  }

  .center {
    text-align: center;
    margin: auto;
  }

  .content {
    background: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .v-table-cell-content-green {
    background: #33BB00;
  }

  .v-table-cell-content-orange {
    background: #FCB724;
  }

  .v-table-cell-content-red {
    background: #ff2020;
  }

  .v-table-cell-content-white {
    background: #FFFFFF;
  }
}
